<div class="container">
    <nav class="navbar ">
        <div class="logo">
            <a class="Adpet-Course-Brands" routerLink="/home"><img
                    src="https://lh3.googleusercontent.com/8POF28mGRJRLsbdSXkzDHqZ02a1hAmdjzXT68q4kI5I2KSGGd0UQ9uXTlw6tkDlfm6ObZ7G2_HkoJuxgwtfa5t43Yg3NLoLvGUF82vc0nUkTMbyiOeBLpIoCHZGqkYIESin-5l-yHvogdLkpeKJ3jGY9rGl01fPcMM1Foau1S0sqCqHA5o4TkhIc7Eed4z1NKNR5DSs7qeU6euyQ5sLrAPbK2LRqgZFR5DvnY-CPcsx5OYzVSU_IakI63HqcVokrs6jtMNbzSDrnEM04lHtCNWoIkkLNSQo0lZGUxtXyoVHdk7nNsqFqs_ffDBQqW5_8WFUNgLsHDkFrXFK-PRmXm9JGJj7wB8KFla3xTZV0epV3d7lotRWGRo9uw-ZrcrpvYUQP5gBp8DK053z7rP8uz2SQrHhYknHWHuwgexjpiarfHmRQOuGeeVH40cooAJ4-sne7o9QwgBPF21lMmmRwcDO8BUxabHzPrbF94lqBXSRyq3DLIfxRshiELQZxkWIZS5FV3jroIWbceokbechBxl9tK_HHUNEHYVLUNPDxqmtRhI7YZFfPQMZUDwP9tNJ-1NylV4lVg8oB1CnOxPLefZK6wjoh_Y0up6EBx9FSph_qTmUMb7noNRsFXuEeUpAbPtR0s6U1jZP53nBtqiU-QqNTlOQPS3-Tr3St_Ir2UMw6SduNhoQ3LtB9HVrATw=w235-h60-no"
                    class="img-fluid" alt=""></a>
        </div>
        <!--end logo-->
        <ul class="nav justify-content-end">
            <!-- <li class="nav-item">
                <a class="nav-link active" routerLink="/product-manager">Manager</a>
            </li> -->
            <li class="nav-item">
                <a class="nav-link" href="#">Contact</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">About Us</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Subcribe</a>
            </li>
        </ul>
    </nav>
</div>