<section class="about-us">
    <div class="container">
        <h4 class="about-us--title">What’s people say <span class="about-us--h4">about us</span></h4>
        <p class="about-us-lead">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras at ultricies
            arcu. Phasellus aliquet, tortor ut pharetra euismod, nibh ante congue ex, eget iaculis felis velit a
            tortor. Aliquam et laoreet mauris, quis auctor nisi. Class aptent taciti sociosqu ad litora torquent
            per conubia nostra, per inceptos himenaeos.</p>
        <div>
            <img src="https://lh3.googleusercontent.com/kMNFpHjSIjtzvuoF-H3TLR7O9UnJT1O65HB3w49qZMQ_YcLO_foEritaIaiFzeuyjs5Map1qrW5M5v8r7sqeAW6vntIWAi2jFOxy4oierA1V6i3VuQ6xVMLLcC_3hyAnixiHo54-asfRyJMw5jmADD16z-2SG3d6lt9rlolMqjU4V22JUairKZj5eP-3s7zDFt0HMaUxMorBYasoSQHpNXxzYL_fpfw_jFCilXKeh3__hxf8BYlPSVeFzE6rT6bOfVKvWH0j-uNdSvM2tgrw_dY4btfRDSnf5AL6SEBzPe96YVQbW75AQ7MjwwHPmGwdSJB21u7cyJS8_mdDUqVcmxLbNu680bD6rsFSrf13CCHJoNMlS3aYpdIBGjl06IvXolVa6tlE3wDBOD3i73MzuoTO7x7eMYpHuOJCFbO9MYgA695QZwoUS9j1-XcxkLZFN54IGjXRVkn04Tn3VvXpDLX6ChUzCq03KCYxG5UIICgtiok1vjwfWbNv0ccKSjzQkNYJsvcdr0Wrd7FK_6AEwPSCL69CjLxUPPDi-eqOREGkjjv19AV9ZRkkXQEe60N4Xri0z61G3B0AKFNTYbl0zfmxvFSSx3YTXMAYT_vT83cyhaQ3U4KqSJ3uSCnTMo2rDLnzLpHltBgu5V3tFeC1ZIHM8cYndJUygyhtsCuqkBFtrxfawRA8HPwsrgJ7KA=s60-no" class="img-fluid mb-5" alt="">
        </div>
    </div>
</section>