<app-sidebar></app-sidebar>
<div style="float: right" style="width: 80%; float: right">
    <h2 class="mt-5 mb-4 " style="text-align: center;">Create New Product</h2>
    <form action="" class="form-gruop">
        <label for="">Name Product</label>
        <input type="text" name="itemName" class="form-control" [(ngModel)]="product.itemName" />
        <label for="">Price</label>
        <input type="text" name="price" class="form-control" [(ngModel)]="product.price" />
        <label for="">Type Product</label>
        <input type="text" name="typeProduct" class="form-control" [(ngModel)]="product.typeProduct"/>
        <label for="">Old Price</label>
        <input type="text" name="oldPrice" class="form-control" [(ngModel)]="product.oldPrice" />
        <button type="submit" class="btn btn-light mt-4 mb-5" (click)="addProduct()">Create Product</button>
    </form>
</div>