<app-header></app-header>
<div *ngIf="product">
    <div class="container">
        <div class="informatin mt-5">
            <h2>{{product.itemName}}</h2>
            <img [src]="product.img" class="img-fluid mt-5 mb-4" alt="">
            <p>{{product.desc}}</p>
            <div>
                <span> You can watch the video of this course: </span>
                <div class="embed-responsive embed-responsive-16by9 mt-4 mb-5">
                    <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/5JhnDzlMZa0"
                        allowfullscreen></iframe>
                </div>
            </div>
            <h3>
                Do You Like This? If you like, Succribe now!!
            </h3>
        </div>
    </div>
    <app-subcribe></app-subcribe>
</div>
<app-footer></app-footer>