<section>
    <div class="container">
        <div class="banner--img">
            <img src="https://images.pexels.com/photos/3979186/pexels-photo-3979186.jpeg?auto=compress&cs=tinysrgb&dpr=3&h=750&w=1260"
                class="d-block w-100 img-fluid" alt="...">
        </div>
        <div class="banner--title w-75">
            <div class="title">
                <h2>Photo Of Nature</h2>
            </div>
            <div class="banner-btn">
                <a class="btn btn-dark btn-lg" href="#" role="button">VIEW MORE</a>
            </div>
        </div>
    </div>
</section>