<header>
    <div class="container">
        <nav class="navbar ">
            <div class="logo">
                <a class="Adpet-Course-Brands" routerLink="home"><img
                        src="https://lh3.googleusercontent.com/8POF28mGRJRLsbdSXkzDHqZ02a1hAmdjzXT68q4kI5I2KSGGd0UQ9uXTlw6tkDlfm6ObZ7G2_HkoJuxgwtfa5t43Yg3NLoLvGUF82vc0nUkTMbyiOeBLpIoCHZGqkYIESin-5l-yHvogdLkpeKJ3jGY9rGl01fPcMM1Foau1S0sqCqHA5o4TkhIc7Eed4z1NKNR5DSs7qeU6euyQ5sLrAPbK2LRqgZFR5DvnY-CPcsx5OYzVSU_IakI63HqcVokrs6jtMNbzSDrnEM04lHtCNWoIkkLNSQo0lZGUxtXyoVHdk7nNsqFqs_ffDBQqW5_8WFUNgLsHDkFrXFK-PRmXm9JGJj7wB8KFla3xTZV0epV3d7lotRWGRo9uw-ZrcrpvYUQP5gBp8DK053z7rP8uz2SQrHhYknHWHuwgexjpiarfHmRQOuGeeVH40cooAJ4-sne7o9QwgBPF21lMmmRwcDO8BUxabHzPrbF94lqBXSRyq3DLIfxRshiELQZxkWIZS5FV3jroIWbceokbechBxl9tK_HHUNEHYVLUNPDxqmtRhI7YZFfPQMZUDwP9tNJ-1NylV4lVg8oB1CnOxPLefZK6wjoh_Y0up6EBx9FSph_qTmUMb7noNRsFXuEeUpAbPtR0s6U1jZP53nBtqiU-QqNTlOQPS3-Tr3St_Ir2UMw6SduNhoQ3LtB9HVrATw=w235-h60-no"
                        class="img-fluid" alt=""></a>
            </div>
            <!--end logo-->
            <ul class="nav justify-content-end">
                
                <li class="nav-item">
                    <a class="nav-link" href="#">Contact</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">About Us</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Subcribe</a>
                </li>
            </ul>
        </nav>
    </div>
</header>

<body>
    <router-outlet></router-outlet>
</body>
<footer>
    
    <!--end subcribe-->
    <section class="footer-end">
        <div class="container">
            <div class="footer-end--row ">
                <div class="row">
                    <div class="col-4">
                        <img src="https://lh3.googleusercontent.com/rfhfoY3liSBw3gka707hjg3cVv9bNDtvU1nD0TA6X1lvqKlWrDZm2rYjRcq618RxCeDQffE8DvPzWdfCeOOBo8cr5bXCZJB6JyWCJmR9a9bI04veDBLCE13i-zdOSaKff8q3rpUNsjR1mBmscLVt-tb5A34vCz7gCMJMK28Yn2NJY1y_fSB2kZwKveSAOUxl2erVpY3wg3FAcz3PRYTE-5aNGFPYax5tCOwpjWJ_fjdnxNtdOuPnTV7cwCW5gL94UIJu-Pjru6ClHyuVlEl0r9_nFqv-oEx9Ga5IIn6Rln7UpVXfIgR5pSiE8i5YqA-nuKW1enpiOi4H5ncZubNNIKTmAfAYSm-YJVu5OXd8GDwbLba4oLOc8Ph3yvvEWpN9APTIxgEJKqieG5wNN5oVRsDcqcg4BE18VG2LDv3dxTz-kmKkOzUehJ6pjaVoYTFsQIqhLZckgdFc1XEuKxRt8A0dVmwzJ71R1jgCMSdRQ4B0OHloghuFy3j1V1eUBIQlPQyWgLvbayIf7wKp8ofL68ydWkZyJIpOk7zu2q8SR4KHBz9-4L-v5LV-kP6NC86njKxdmycW9yVkO872bgdGdqcJLqGV6YIg0BEMNSBeo3iX1S9gRor308kWmqCFGDkgMZDPKBONXQWH3yjM67U1q_3DvzGheWSDYkdJtLQ2OSMHbsevyym8xQ0ns_SHqQ=w235-h60-no"
                            class="img-fluid" alt="" />
                        <p class="footer-end--lead">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut
                            efficitur vel turpis sed pellentesque. </p>
                        <div class="ft-end-address">
                            <img src="https://lh3.googleusercontent.com/hfy4YmrTUa_-BBOUpDnBiq2CYjtLYypBbficxMUvmC2ZU9ZcbT6UPLvjiBaV8JY0KWzdvfgzdJUJDnOdmv4hXlRTVbuBS-fNYwjQ-9KL252ziUVBqQRcBo5rGTEhRlfeJ_BS9HWnIavhB_Fn-LjQtXXDrulWnJno1MDkUepIZdMRitmCFjC7PLmjqV7eiofoMPHl5jOjhNsnuCnQxwKBfbj3XKixA5El7Qvl1fT09gL9ctod5ypp3HFgnzUBXmIGmjwVVxcl9rOxoFg1uHOm7LpWIWolp7VRDhqxLPksHDAd3FMmw61xMfMSgS3gfXw5jej4M4B0lv14PPkZnr9WOKFnKMley7PHepxBeSpw1ddZ3-F5sVJa-zkoaokgQzUoZX9EdZMt28rraEzZg-N56J4tbP6f7EJnyOUg1v5ispc21osONBrSNtpKu16PCrVliXBph0tEBL5dqkNdDlPXOi9Y5sP-fOYtNwzf7A1AOjV8cKnfHxLRe532Kf_bTC8VEHiLd_JJ_rp625LiDC4hRe5XGL9Llvxw_ZZxyO6u9TIyHbNUHp1KCspZ7y-sahQNAczHenk-jOiJS1U1WUYZfZl3NeHdhRQdgtlvc8XEB8dU7RVUo1xFOdz7d8nwq6L8fxlOv_DhzuiWDYnLjlHKCQYKsJJSaOl0dlyFm4hb-qHXUsNkTITWHXm2_uEX1A=w13-h18-no"
                                class="img-fluid" alt="">
                            322 Broadway New York, NY 10038, USA
                        </div>
                        <div class="ft-end-address">
                            <img src="https://lh3.googleusercontent.com/eGGVRo5aulQ08HnW8ccvcRHjdAILk9-ygA_SQsNnI8B1MVWP56acCXoMCI74XX6gy-8eJlsAua7mGi4ezuWl7hQXxBbG1e8k4mjYOl3HP5TOEetq4PnZnx5sELfwUuEpkJgR7Vx7z92LlXRDTeGGGk_hSzeU4Jt-nH8axwG70FeaGWvfz5YnOynq_-EQUy-hJqjSOw6eqZ7han4qh4k1J3otqG_7KEGrn6yAWgpyRfIQI4xafqYA4xln4UD3xcYy1GxCJY_mf5AVWN2JhkZYbjwcq5T49zprBAd_l06_WiPNemOnFslj8t_Ic5rY_A-w9Fh0a77F3ochn4OtfkiWlgRejN-L-9P4UTbcde6oELv4TcjYJDnH7cIDMbK0-jX3XUq57uzCmRXzedoUwGQbrTbEOzdnikxpEQFEeJVYDqd-eTRVjND38wEryuTubP88VPZEbwFmSwxnoWFLSKZKz72g8H7pZIn8D4ckUhbdRBwDO5Z4XDAfsmvVfaJck47MG5RAHu1GVvGvd0p3nR7siYtH8_xkb9krZ-iXgeURQJAlVGO_hGceQbs06nuaakBJQK-wSjZgLTvM8VEly0oiYKdkrFkUxCP2zBqFVms94JIcmTvfbqHniJeFM-73TDy_aP3SXqAJTY-8ixEvZ3rLU7UZnX0utuAk3FsKbQAuzTbV1uRaNWGlYL6nBHTwAg=w17-h16-no"
                                class="img-fluid" alt="">
                            +1-800-555-5555
                        </div>
                        <div class="ft-end-address">
                            <img src="https://lh3.googleusercontent.com/fDSIKFVj05tP_6uDpraJDsFvX6NH-ix5IEqjv354KQ3ziOBzk0LU9nGhPbX05MLY0ooT66rNPWYUwmu_NoibUtJ-cnED2kYuqN_JooPmtcmyxBYwITtAJkV4FlNiMQvlCt57Cef9tKuvlGEHbr7S7BU3sM3a66mwFlkDPgR10UghkxddHFVR7btE4d2oN0mWw2PqHBlnTeiURNY9XQRTxw7vmtk5tOorwpnHq8MdPdbkuAmuJ1ygHd1sh9diQ5lakIhQCLs7vsvBTgok8e3zcu4khbN5FiWlakoifH91wkqp5xIeNhX4aKN5AIFMz354PhERqWu-eu3yPG2RJ7DBCmBviJWMJqOHuOs_VQe8TMAApNpr8Wpg6A8xH6eLzBi3jubsAMOPlRzrBE04CV234d6cbjdIZ6ZUzgzcFRHE1a8hAKZZ65ejGd63xMMAMoz7eXBlT5pEdV6fUKa98EjgNRi1JKNJ5BCX-n6pMB7FNXYUhyK0t63sQeK4eFX77fl5jTZG7FWuqZHazalKqRgAjn2DqQ86yVdXFuayEjAUBgU1jHt2nDPKH8jHaKZy9aTt6nKtc06yEnZAKgQHuorUHiosITfLI-LgQSbdT0tf6uIjvnBZsi8ef-MiKDQl2yiXAmwyriMKwVWOWnbi-EOCn9xDWUUEDSHY2CsiWPXcq2IIiJCmba6SV5d6v23_5Q=w17-h14-no"
                                class="img-fluid" alt="">
                            adeptcourses@mail.com
                        </div>
                    </div>
                    <!--end col-4-->
                    <div class="col-4">
                        <h2 class="footer-end--tile">POPULAR COURSE</h2>
                        <div class="footer-end--media media">
                            <img src="https://images.pexels.com/photos/3978594/pexels-photo-3978594.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940"
                                class="footer-end--media-img mr-3 img-fluid" alt="...">
                            <div class="media-body">
                                <h5 class="mt-0">Adobe Illustrator CC Tutorial - Training Taught By Experts</h5>
                                <img src="https://lh3.googleusercontent.com/MvYZPGImEpVlPlOIRECOaWLpMn6XydHbWUdDc6bUV8DUqDVMlo6S02SIpNo3ATT5YyVJU0KAVXCNkfmsz4GAJS8WFiT3dlwlWybtadrlMkYAp4VARuGlmDq1H8TgDp0xHXuhF354PqLr0PMAmvZ9QIP5lzSxHgY47qJrHfLtHxOfWh_g5kofIOwadeD_eisiLGLbdQmv78Z0RSA73DSOeTzNAuPnxWXgkL9eFLj4a4UGYM_nySL_4iFVGEGOjZeGRg0--1zLiix4tdCsf9vegPtvCkVMIIag1C7axyCRKhyjEUvSMeaXliAVC9ZSZz0e31EAwCt0HvRmOwopJxhWGodG-pm8Jh2eHqp7RthsI2Y9aPO74ig4JX8ksYpTzXxo-cA8SkyUYy3oMxadNiXDsVT7X_YQOLbYWRRN4THgWyj6j4hHY0_omRtn8aAsiD7W7kPl7NsDOAiSlLYJgis7UZWwegm52MTX-60CLulZjDiDd3MqmiR-OZBWW8tJt1Gjn6hDAfC17SnclakLAEr0c-HuBY9WYMe74zUlm7Jzdme9VMos-_TNEgkqNJVJC2b-h-pAGA_zTqMOVHMu-tOVEOlRfokwbhzk4aJxn2k-I6MSnrqKVQ-Jk8ZpAqo4Q_uqeD9e0Th9Vp0_KdflqwtT0a4RR3F4am_8yjNHvLl5pqfTpQjqokuP4pr8Pb09ZA=w108-h17-no"
                                    class="img-fluid" alt="">
                            </div>
                        </div>
                        <!--end footer-end--media-->
                        <div class="footer-end--media media">
                            <img src="https://images.pexels.com/photos/3951881/pexels-photo-3951881.jpeg?auto=compress&cs=tinysrgb&dpr=3&h=750&w=1260"
                                class="footer-end--media-img mr-3 img-fluid" alt="...">
                            <div class="media-body">
                                <h5 class="mt-0">Sketching for UX Designers - Boost UX work with pen & paper</h5>
                                <img src="https://lh3.googleusercontent.com/MvYZPGImEpVlPlOIRECOaWLpMn6XydHbWUdDc6bUV8DUqDVMlo6S02SIpNo3ATT5YyVJU0KAVXCNkfmsz4GAJS8WFiT3dlwlWybtadrlMkYAp4VARuGlmDq1H8TgDp0xHXuhF354PqLr0PMAmvZ9QIP5lzSxHgY47qJrHfLtHxOfWh_g5kofIOwadeD_eisiLGLbdQmv78Z0RSA73DSOeTzNAuPnxWXgkL9eFLj4a4UGYM_nySL_4iFVGEGOjZeGRg0--1zLiix4tdCsf9vegPtvCkVMIIag1C7axyCRKhyjEUvSMeaXliAVC9ZSZz0e31EAwCt0HvRmOwopJxhWGodG-pm8Jh2eHqp7RthsI2Y9aPO74ig4JX8ksYpTzXxo-cA8SkyUYy3oMxadNiXDsVT7X_YQOLbYWRRN4THgWyj6j4hHY0_omRtn8aAsiD7W7kPl7NsDOAiSlLYJgis7UZWwegm52MTX-60CLulZjDiDd3MqmiR-OZBWW8tJt1Gjn6hDAfC17SnclakLAEr0c-HuBY9WYMe74zUlm7Jzdme9VMos-_TNEgkqNJVJC2b-h-pAGA_zTqMOVHMu-tOVEOlRfokwbhzk4aJxn2k-I6MSnrqKVQ-Jk8ZpAqo4Q_uqeD9e0Th9Vp0_KdflqwtT0a4RR3F4am_8yjNHvLl5pqfTpQjqokuP4pr8Pb09ZA=w108-h17-no"
                                    class="img-fluid" alt="">
                            </div>
                        </div>
                        <!--end footer-end--media-->
                        <div class="footer-end--media media">
                            <img src="https://images.pexels.com/photos/3952213/pexels-photo-3952213.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940"
                                class="footer-end--media-img mr-3 img-fluid" alt="...">
                            <div class="media-body">
                                <h5 class="mt-0">Watercolor painting for the complete beginner - First steps</h5>
                                <img src="https://lh3.googleusercontent.com/MvYZPGImEpVlPlOIRECOaWLpMn6XydHbWUdDc6bUV8DUqDVMlo6S02SIpNo3ATT5YyVJU0KAVXCNkfmsz4GAJS8WFiT3dlwlWybtadrlMkYAp4VARuGlmDq1H8TgDp0xHXuhF354PqLr0PMAmvZ9QIP5lzSxHgY47qJrHfLtHxOfWh_g5kofIOwadeD_eisiLGLbdQmv78Z0RSA73DSOeTzNAuPnxWXgkL9eFLj4a4UGYM_nySL_4iFVGEGOjZeGRg0--1zLiix4tdCsf9vegPtvCkVMIIag1C7axyCRKhyjEUvSMeaXliAVC9ZSZz0e31EAwCt0HvRmOwopJxhWGodG-pm8Jh2eHqp7RthsI2Y9aPO74ig4JX8ksYpTzXxo-cA8SkyUYy3oMxadNiXDsVT7X_YQOLbYWRRN4THgWyj6j4hHY0_omRtn8aAsiD7W7kPl7NsDOAiSlLYJgis7UZWwegm52MTX-60CLulZjDiDd3MqmiR-OZBWW8tJt1Gjn6hDAfC17SnclakLAEr0c-HuBY9WYMe74zUlm7Jzdme9VMos-_TNEgkqNJVJC2b-h-pAGA_zTqMOVHMu-tOVEOlRfokwbhzk4aJxn2k-I6MSnrqKVQ-Jk8ZpAqo4Q_uqeD9e0Th9Vp0_KdflqwtT0a4RR3F4am_8yjNHvLl5pqfTpQjqokuP4pr8Pb09ZA=w108-h17-no"
                                    class="img-fluid" alt="">
                            </div>
                        </div>
                        <!--end footer-end--media-->
                    </div>
                    <!--end col-4-->
                    <div class="col-4">
                        <h2 class="footer-end--tile">COURSE CATEGORIES</h2>
                        <div class="footer-end-list row">
                            <div class=" col-6">
                                <div class="footer-end--col">
                                    <ul>
                                        <li>
                                            <p><a href="#">Development</a></p>
                                            <p><a href="#">Business</a></p>
                                            <p><a href="#">IT & Software</a></p>
                                            <p><a href="#">Office Productivity</a></p>
                                            <p><a href="#">Personal Development</a></p>
                                            <p><a href="#">Design</a></p>
                                            <p><a href="#">Marketing</a></p>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <!--end footer-end--col col-6-->
                            <div class="col-6">
                                <div class="footer-end--col">
                                    <ul>
                                        <li>
                                            <p><a href="#">Lifestyle</a></p>
                                            <p><a href="#">Photography</a></p>
                                            <p><a href="#">Health & Fitness</a></p>
                                            <p><a href="#">Music</a></p>
                                            <p><a href="#">Academics</a></p>
                                            <p><a href="#">Language</a></p>
                                            <p><a href="#">Test Prep</a></p>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <!--end footer-end--col col-6-->
                        </div>
                        <!--end footer-end-list-->
                    </div>
                    <!--end col-4-->
                </div>
            </div>
        </div>
    </section>
    <!--end footer-end-->
    <section class="ft-last">
        <div class="container">
            <div class="ft-last--text">
                <p>
                    Theme by <a href="#">BestWebSoft</a>. ©2017 All Rights Reserved</p>
            </div>
            <!--endft-last--text-->
        </div>
    </section>
    <!--end ft-last-->
</footer>