<app-sidebar></app-sidebar>
<div style="width: 80%; float: right">
  <table class="table"  >
    <thead>
      <tr>
        <th scope="col">Item Name</th>
        <th scope="col">Type Item</th>
        <th scope="col">New Price</th>
        <th scope="col">Old Price</th>
        <th scope="col">Action</th>
        <th scope="col">Action</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let product of products">
        <td>{{product.itemName}}</td>
        <td>{{product.typeProduct}}</td>
        <td>{{product.price}}</td>
        <td>{{product.oldPrice}}</td>
        <td><button type="button" class="btn btn-link" routerLink="product-edit/{{product.id}}">Detail</button></td>
        <td><button class="btn btn-link" (click)="removeItem(product.id)">Delete</button></td>
      </tr>
    </tbody>
  </table>
</div>

