.subcribe{
    text-align: center;
    background: url(https://lh3.googleusercontent.com/JqLAyArF1kZs8jssgH_DVn5YA-XlN0wub2lGG54LF1uDSGntmhwUWKfT8GuOoL3t0zL7JCdqunlE5E6_0W3cTyiSgESQGAo0Tq0JhlIfT5jOzkXPNqjbpzOTIaJTmS7oheJl5feVP8F7orL7NgVK4lLZRFpTZpkKhMWo48WndUVNmZ-wHgq5maIyyGryE1m0Z1RJGy8JxpS8RaQpE5bQ7RfSTx_4TOtcBh7J-_yeSE_sQKR7RHUadjcdsm-N2aA-08awL_LfPrAQ_0WkZbs2-JYaPv1H2n_EwqojSGNqe9LAv1ht_tyVnNpD_t17BOfnT6AKv_KpEek6Tx9b9EJjaypXm0g0pf5aA-5-GIsfNQyVMkqDtA9DS2l5wPcYL1m_tRbe4GpDkMDQ-OlU3MeqjBHwGapcsPLf6UgMLDBe9eSuzS9NApfwIxlH86nE3207swocJUxcaNaJm6-cnK4BcLy41xJQRhQTsThisVILq5z1oYOkCGLuWVy1Jsx4hbxCGbu44wWsDsl3sa8l5J9lEAi1h2lYqZ6kTDS7CliRFQ0mDJolVdAsts8P6ULc4Nhgk3r6qHl16qcLWajMYU64uxYEt4RdRZbJAYX1I7uP_mTWUiAoR3GeZ8wwOTNQiNbCpqgFga7EIYcqz-npbQv04SdN7Zc840BMFaLvrthgyLCHC-TSngdF576RjvpNsg=w1800-h100-no) ;
}
.subcribe--content{
    font-size: 16pt;
    color: #ffffff;
    margin-right: 50px;
    padding-left: 200px;
}
.sub{
    padding: 10px;
}