<section class="your-project">
    <div class="container">
        <div class="your-project-row ">
            <div class="row">
                <div class="col-4">
                    <div class="your-project-tittle">
                        <h4 class="jumbotron-title">Only <span class="jumbotron-title-text">the best</span> for your
                            project
                        </h4>
                        <p class="jumbotron-lead">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras at
                            ultricies arcu. Phasellus aliquet, tortor ut pharetra euismod, nibh ante congue ex, eget
                            iaculis felis velit a tortor. Aliquam et laoreet mauris, quis auctor nisi. Class </p>
                        <a class="btn btn-outline-dark btn-lg" href="#" role="button">VIEW MORE</a>
                    </div>
                </div>
                <!--end col-4-->
                <div class="your-project-img col">
                    <a href="#"><img src="https://lh3.googleusercontent.com/AJeJ8OtJ5fN4736vhUAzPDVeObAt9JAjfAjdMeQ08xs03V7yz6YsSTtsdvvSFEaKU4cd5kzyZaR-JDsfWNNfBYzkYUvimPRXYK0ZCwy8E8HXhVVvh70Cl6jgl5p8Z8_gKDlMUTbgD38HtloknaMwqmhvYlQ2XjrrF-0PtXt_F8GE8oVAmGenMmoVxNsJ0P5_erRgsipKKv7onXeihzDIzhnFgXzdyhWBX52H0BAEmVZjqLwh6KQ1YLGhVN1yzOLXAwwfqDwZBYmvN0UbbGytDtmYZw8O1xRl6SxmzAKs4_Vcp-F5U-eZcRoQ0E9OvODvMa5I1EyzkCoM9In2tNQeeaj9QnuFhv9rVLGgn78VK3eZYCLAfobbRBPWOKXeMqCZUS0qmAk7cHuLFvsduTyeSfV7AutzmXEclMpuKzQHrsoG0344ynG3N6IADP5Esv-AOr9IZ1ehYT5zzC7LoyzBTNmq5eu0xPcjK4Me_WBi2MJwZ0jr-3NUwlLgseRZ1iN0n5mpGeB7SwFuLTfaxbVSklguPGoWfS8qoSVS-o5jwnqrEltikfoJwsC1O7oT7j9WXUCkBOZXSje5nJTbXF4sVeSEPEJRxNbZJDK64lrWScl_Qm9ceyrbnPBAhqXt5iO98tYBapUONkaN0X-Xq9ioWimGlMO7KmW5Dm23Y9AVXa9C3-dRWAznSbsrtFZgxw=w1490-h993-no" class="img-fluid" alt=""></a>
                </div>
            </div>
        </div>
    </div>
</section>
